body{
    padding: 0;
    margin: 0;
}

p#label{
    font-family: 'Lato', sans-serif;
    font-size: .75rem;
    font-weight: 300;
    font-style: italic;
    width: 95%;
    padding:.3vw;
   
}

section.main{
    width: 75vw;
    margin: 0 auto;
}

section.main>h1{
    font-size: 10vw;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #C9C9C9;
    margin: 2rem 0 0;
    text-align: center;
}

/* COLOR PALETTE */

div.palette{
    width: 100%;
    font-family: 'Lato', sans-serif;
}

h2#subhead{
    font-size: 5vw;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

div#palettes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div#pri, div#sec{
    width: 28%;
}

div#tert, div#status{
    width: 42%;
}

div.cpal>h3{
    font-size: 1.25rem;
    font-weight: 200;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    max-height: .5rem;
}

div.swgp{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.swatches{
    width: 50%;
}

div.swatch{
    width: 10.5vw;
    height: 10.5vw;
}

/* COLORS */

/*  primary colors */
div#p1{
    background-color: #4F6551;
}

div#p2{
    background-color: #2D515B;
}

/* secondary colors */
div#s1{
    background-color: #87358B;
}

div#s2{
    background-color: #582280;
}

/*  tertiary colors */
div#t1{
    background-color: #C9C9C9;
}

div#t2{
    background-color: #808080;
}

div#t3{
    background-color: #000000;
}

/* status colors */
div#st1{
    background-color: #AE79EB;
}
div#st2{
    background-color: #69A26E;
}
div#st3{
    background-color: #82C6D0;
}
div#st4{
    background-color: #A03333;
}
div#st5{
    background-color: #EAE79A;
}

/* TYPOGRAPHY */

div.typex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div#sansserifs{
    margin-bottom: 5rem;
}

div#typebig, div#headexs{
    max-width: 29%;
    
}

div#copyex{
    width: 35%;
}

h1.big{
    font-size: 15vw;
    margin: 0;
    line-height: 1;
    font-family: 'Lato', sans-serif;
    color: #808080;
}

div#headexs{
    margin-right: 1vw;
    font-family: 'Lato', sans-serif;
}

div.headex{
    margin-bottom: 1rem;
}

div.headex>p#label{
    margin-top: 0;
}

div.headex>h1{
    font-size:2rem;
    display: flex;
    margin:0;
    padding-right: 1rem;

}

div.headex>h2{
    font-size:1.75rem;
    margin:0;
    color: #808080;
}

div.headex>h3{
    display: flex;
    margin:0;
    color: #c9c9c9;
}

div#textex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

div#inline>p:first-child{
    color: #91A78B;
    display: inline-block;
    font-size: 2vw;
}

div#btntext>p:first-child{
    color: #609AAA;
    display: inline-block;
    font-size: 2vw;
}

div#btntext>p:first-child:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div#copyex{
    color: #808080;
    font-family: 'Lato', sans-serif;
}

h1#sansserif.big, h1#sansserif, h2#sansserif, h3#sansserif, div#bodycopy, p#sansserif{
    font-family: 'IBM Plex Serif', serif;;
}

/* ICONS */
div.icons>img{
    width: 100%;
    vertical-align: middle;
    
}
